/* Top navigation styling */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

@media (max-width: 768px) {
    .top-nav {
        padding: 25px 5px;
    }
}

.backdrop {
    margin-top: 80px;
    background-color: #046A38;
    border-radius: 20px;
    padding: 20px;
    color: #fff; /* Text color for better readability */
}

.content {
    display: flex;
    align-items: center;
}

.about-us-pic {
    max-width: 20%;
    max-height: auto;
    margin-right: 50px;
}

.about-us-title {
    font-size: 2rem;
}

.team-info {
    margin: 20px 0;
    text-indent: 20px;
}

.contact-us-button {
    padding: 10px 20px;
    background-color: #004d40;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.contact-us-button:hover {
    background-color: #00332a;
}

.team-members {
    display: flex;
    justify-content: space-around; /* Distributes space evenly between the elements */
    margin-top: 20px; /* Space above the team member section */
}

.team-member {
    flex: 1; /* Each team member takes equal width */
    text-align: center; /* Centers the text horizontally */
    padding: 10px; /* Padding around the text for better spacing */
}

.github-section {
    border-radius: 20px;
    margin-top: 40px; /* Adds space above the GitHub section */
    text-align: center; /* Centers the title and the GitHub links */
    padding: 20px;
    background-color: #f0f0f0; /* A light background for the GitHub section */
}

.github-title {
    font-size: 1.5rem;
    color: #333; /* Darker text for better readability */
    margin-bottom: 20px; /* Space below the title */
}


@media (max-width: 768px) {
    .about-us-pic {
        max-width: 50%;
    }

    .content {
        flex-direction: column;
        align-items: center; /* Ensures everything is centered on smaller screens */
    }

    .about-us-title {
        margin-top: 20px;
        font-size: 1.5rem; /* Adjust title size for smaller screens */
    }

    .team-member {
        font-size: 1.3rem; /* Increase the font size for better readability */
        margin-bottom: 10px; /* Adds some space below each team member */
    }

    .team-info {
        font-size: 1.3rem; /* Adjusts the paragraph text size to be more readable */
    }

    .contact-us-button {
        font-size: 1.2rem; /* Ensures the button text is not too large on mobile */
    }
}
