.burger-menu {
    position: relative;
    width: 100px;
    cursor: pointer;
    padding-top: 100px;
  }
  
  .burger-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .burger-line {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin-bottom: 5px;
    transition: all 0.3s ease;
  }
  
  .open {
    transform: rotate(-45deg);
  }
  
  .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    transform: translate(-50%, -50%);
    background-color: #60ff90;
    margin-top: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: none;

  }
  
  .menu.open {
    display: block;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }
  
  .menu ul li:hover {
    background-color: #f5f5f5;
  }
  