.rbc-header{
  background-color: green;
  color:white;
  padding:5px;
  font:bold;
}

.rbc-event{
  padding:0 !important;
  font:600;
  font-size:12px;
  background-color: green !important;
}

.modal {
  display: block; 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
}

.modal-content {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: white; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
}

.close {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  font-size: 20px; 
  cursor: pointer; 
}
