/* HomePage.css */
/* Top navigation styling */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  background: #D7D2CB;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

@media (max-width: 768px) {
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 5px;
  }

  .burger-menu {
      flex-grow: 0;
      padding: 10px 0px;
  }
}

.home-page {
  background-color: lightgreen;
  min-height: 100vh;
  padding-top: 60px; /* padding-top to push content below fixed top-nav */
}

.container {
  max-width: 1200px; /* Adjust based on your design */
  margin: 0 auto;
  padding: 20px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Adjust width to fit content side by side */
}

.giant-box {
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 8px;
}

.square-box {
  flex: 1; /* Make boxes flexible */
  margin: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.rectangle {
  width: 95%;
  margin-top: 20px;
  margin-left: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.weather-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.weather-preview h3, .weather-preview p, .thread-title, .thread-author, .event-list li {
  margin: 5px 0;
}

.rectangle-link, .discussion-link, .square-box {
  text-decoration: none;
  color: black;
}

.event-list {
  list-style-type: none;
  padding-left: 0;
}

.event-index {
  display: inline-block;
  width: 30px;
}

.home-page-title {
  position: absolute; /* or 'fixed' depending on use-case */
  padding-top: 20px;
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the exact center of the element */
}
